<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 

<html lang="en"> 
  <head>

    <!-- Last Updated Spring 2016 --> 
    <!-- H. James de St. Germain --> 
    <!-- University of Utah --> 

    <!-- This is a basic template of a web page -->


    <title> Title of Page </title> 

    <!-- Meta Information about Page -->
    <meta charset="utf-8"/>
    <meta name="AUTHOR"      content="H. James de St. Germain"/>
    <meta name="keywords"    content="HTML, Template"/>
    <meta name="description" content="Basic HTML Template for starting web pages"/>

    <!-- ALL CSS FILES -->
    <link rel="stylesheet" href="path/file.css" type="text/css"/>
    <link rel="stylesheet" href="simple.css" type="text/css"/>

    <!-- ALL SCRIPT FILES -->
    <script                src="path/file.js"   type="text/javascript"> </script>

  </head> 
 
  <body> 
 
    <h1> Welcome to my web page </h1>

    <p>
      This is a template for a basic HTML web page.  Feel free to "view page source" or to copy the
      following:
    </p>

    <pre class="unix">

      &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"&gt; 

      &lt;html lang="en"&gt; 
        &lt;head&gt;

          &lt;!-- Last Updated Spring 2016 --&gt; 
          &lt;!-- H. James de St. Germain --&gt; 
          &lt;!-- University of Utah --&gt; 
       
          &lt;!-- This is a basic template of a web page  --&gt; 


          &lt;title&gt; Title of Page &lt;/title&gt; 
      
          &lt;!-- Meta Information about Page --&gt;
          &lt;meta charset="utf-8"/&gt;
          &lt;meta name="AUTHOR"      content="H. James de St. Germain"/&gt;
          &lt;meta name="keywords"    content="HTML, Template"/&gt;
          &lt;meta name="description" content="Basic HTML Template for starting web pages"/&gt;
      
          &lt;!-- ALL CSS FILES --&gt;
          &lt;link rel="stylesheet" href="path/file.css" type="text/css"/&gt;
      
          &lt;!-- ALL SCRIPT FILES --&gt;
          &lt;script                src="path/file.js"   type="text/javascript"&gt; &lt;/script&gt;
      
        &lt;/head&gt; 
       
        &lt;body&gt; 
       
          &lt;h1&gt; Welcome to my web page &lt;/h1&gt;
      
          &lt;p&gt;
            This is a template for a basic HTML web page.  Feel free to "view page source" or to copy the
            following:
          &lt;/p&gt;
      
          &lt;pre&gt;
            
          &lt;/pre&gt;
          
        &lt;/body&gt;
        
      &lt;/html&gt; 
      
    </pre>
    
  </body>
  
</html> 